.footer {
   height: 126px;
   background-image: url('../../img/bg.png');
   background-color: #F9F4E2;

   &__content {
      max-width: 1208px;
      margin: 0 auto;
      padding-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   &__left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   &__link {
      margin-left: 30px;
      font-size: 12px;
      cursor: pointer;
      text-decoration: none;
      color: black;
   }

   &__right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   &__social>img {
      margin-right: 10px;
   }

   &__right>img {
      margin-right: 20px;
      cursor: pointer;
   }

   &__phone-wraper {
      display: flex;
      justify-content: center;
   }

   &__phone-wraper>img {
      margin-right: 10px;
   }
}

@media(max-width: 1200px) {
   .footer__content {
      padding: 30px 20px 0 20px;
   }
}

@media(max-width: 1035px) {
   .footer__menu {
      display: flex;
      flex-direction: column;
   }
}

@media(max-width: 707px) {
   .footer {
      height: auto;
      background-repeat: repeat;
   }

   .footer__right {
      display: flex;
      flex-direction: column-reverse;
   }

   .footer__social {
      margin-top: 15px;
   }
}